body{
    margin: 0;
    font-family: fangsong;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:2px solid black;
    transition:all 0.6s ease-in-out;
}
.image:hover{
    height:70px;
    width: 70px;
    border: 5px double black;
}
a{
    font-size: 20px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    cursor: pointer;
}
.nav-link:hover{
    background:linear-gradient( rgb(125, 125, 235),rgb(9, 9, 255));
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px!important;
    font-size: 23px;
    text-align: center!important;
    color: whitesmoke !important;
    -webkit-text-stroke: 1px pink!important;
}

.page1{
    height:100vh;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url('./images/backgroundpage1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.page1 .slogan{
    padding-top: 25%;
    padding-left: 18%;
    width: 80%;
}
.slogan h1{
    font-family:'Times New Roman', Times, serif;
    color: rgb(19, 19, 106);
    -webkit-text-stroke: 2px pink;
    font-size: 60px;
    font-weight: 800;
    text-shadow: 3px  10px 10px #000;
    transition: all 0.6s ease-in-out;
}
.slogan p{
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
}
.slogan button{
    text-align: center;
    margin-left: 20%;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 90px;
    height: 60px;
    width: 220px;
    background-color: rgb(57, 120, 237);
    border-radius: 30px;
    color: aliceblue;
    border: 4px double goldenrod;
}
.slogan button:focus{
    border: 4px double aliceblue;
    color:goldenrod;
    font-size: 32px ;
    transition: all 0.6s ease-in-out;
}
.page2{
    height:100%;
    width: 100%;
    background:linear-gradient(rgb(88, 186, 219), rgb(88, 88, 219));
}
.page2 h1{
    padding-top: 6%;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    color: blue;
    -webkit-text-stroke: 2px rgb(231, 187, 194);
    text-shadow: 3px  5px 5px #000;
}
.page2 img{
    height: 300px;
    width: 300px;
    border:10px solid  #000;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #fff;
    transition: all 0.6s ease-in-out;
    margin-top: 4%;
}
.page2 img:hover{
    border:10px solid  pink;
    scale: 0.9;
}
.page2 .matter{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    align-content: center;
    gap: 10px;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;
    overflow: hidden;
}
.page2 .item{
     grid-column-start: 1;
     grid-column-end: 3;
}
.page2 p{
    font-size: 20px;
    margin-top: 5%;
    line-height: 35px;
    color: aliceblue;
}
p .line{
    margin-top: 5%;
    color: pink;
    font-size: 25px;
}
.page3{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(88, 88, 219),rgb(88, 186, 219));
}
.page3 h1{
    padding-top: 6%;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    color: blue;
    -webkit-text-stroke: 2px rgb(231, 187, 194);
    text-shadow: 3px  5px 5px #000;
}
.page3 .sub{
    padding-top: 3%;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    color: lightblue;
    -webkit-text-stroke: 2px rgb(231, 187, 194);
    text-shadow: 3px  5px 5px #000;
}
.page3 #depts{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    justify-content: space-around;
}
.page3 .soft{
    height:400px;
    width: 350px;
    border-radius: 10%;
    background:linear-gradient(rgb(116, 180, 202),rgb(86, 86, 198));
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    color:pink;
    transition: all 0.5s ease-in-out;
}
.page3 .soft:hover{
    transform: rotate3d(-1,1,0,15deg);
    background: rgb(25, 173, 223);
    box-shadow:10px 10px 5px rgb(74, 74, 178);
    font-weight: 400;
    border: 2px solid goldenrod;
    transition: all 0.5s ease-in-out;
}
.soft h4{
    color: red;
}
.names{
    margin-top: 50px;
    padding-bottom: 30px;
}
.names h3{
    color:transparent;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 3px blue;
    font-size: 50px;
    text-shadow: 3px  5px 5px #000;
    transition: all 0.6s ease-in-out;
}
.names h3:hover{
    color:lightblue !important;
}
.page4{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(88, 186, 219),rgb(88, 88, 219));
}
.page4 h1{
    padding-top: 3%;
    margin-left: 3%;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    color: blue;
    -webkit-text-stroke: 2px rgb(231, 187, 194);
    text-shadow: 3px  5px 5px #000;
}
.career img{
    height: 350px;
    width: 350px;
    border:10px solid  #000;
    border-radius: 10%;
    margin-left: 5%;
    box-shadow: 10px 10px 5px #fff;
    transition: all 0.6s ease-in-out;
    margin-top: 4%;
}
.career img:hover{
    border:10px solid  pink;
    scale: 0.9;
}
.page3 .career{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-right: 4%;
}
.career p{
    margin-left: 3%;
    font-size: 20px;
    margin-top: 5%;
    line-height: 30px;
    color: aliceblue;
}
.myteam h1{
    padding-top: 6%;
    margin-left: 3%;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    color: blue;
    -webkit-text-stroke: 2px rgb(231, 187, 194);
    text-shadow: 3px  5px 5px #000;
}
.myteam p{
    font-size: 20px;
    margin-top: 5%;
    line-height: 35px;
    color: aliceblue;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}
.members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    gap: 15%;
    margin-top: 50px;
    margin-left:5%;
    margin-right: 5%;
}
.mem img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border:10px solid  #000;
    box-shadow: 5px 5px 5px #fff;
    transition: all 0.5s ease-in-out;
}
.mem img:hover{
    border: blue;
    box-shadow: 5px 5px 5px #000;
}
.mem{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 3%;
}
.members .mem5{
    margin-top: 3%;
}
.members .mem5{
    margin-top: 3%;
}
.mem2 h3{
    margin-left: 4px;
}
.mem3 h3 {
    margin-left: 10px;
}
.mem h3{
    margin-top: 4%;
    color:pink;
}
.mem h4{
    color:goldenrod;
}
.mem h5{
    color: antiquewhite;
}
.page5{
    height: 100%;
    width: 100%;
    background-image: url('./images/back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
    overflow: hidden;
}
.contact{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-top: 6%;
    flex-wrap: wrap;
}
.contact h1{
    margin-left: 3%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    font-family:'Times New Roman', Times, serif;
    -webkit-text-stroke: 2px blue;
    text-shadow: 3px  5px 5px #000;
}
.contact img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px #000;
}
.support{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
}
.support p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 5%;
    line-height: 35px;
    color: #000;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}
.contact-form{
    height: 80%;
    width: 35%;
    border-radius: 10%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 5%;
    border: 5px double #000;
}
.contact-form .contact-support{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    justify-content: center;
    padding-right: 50px;
}
.contact-support h2{
    color: blue;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px  3px 3px goldenrod;
}
.contact-support input{
    width: 250px;
    padding-left: 15px;
    border-radius: 10px;
}
.contact-support textarea{
    width: 250px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid #000;
}
.contact-support .button{
    display: flex;
    flex-direction: row;
    gap:10%;
}
.contact-support button{
    height: 40px;
    width: 100px;
    background-color: pink;
    border-radius: 10px;
    color: #000;
    border: 2px solid #000;
    color: #000;
    font-size: 20px;
}
.contact-support input:focus{
    border:4px solid goldenrod;
}
.contact-support textarea:focus{
    border:4px solid goldenrod;
}
.contact-support button:focus{
    border:4px solid goldenrod;
    background-color: red;
    color: aliceblue;
}
@media (max-width: 768px) {
    .page1{
        padding-top: 50px;
        padding-bottom: 20px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .page1 h1{
        text-align: center;
        margin-top: 20px;
    }
       .page2 .matter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        overflow: hidden;
       }
       .soft h4{
        padding-top: 2%;
        }
        .page3 .cs{
            padding-top: 5%;
        }
        .page3 .aiml{
            padding-top: 5%;
        }
        .page3{
        overflow: hidden;
        }
       .page3 .career{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
       }
       .page4{
       overflow: hidden;
       }
       .page4 .myteam{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
       }
       .page4 .members{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
       }
       .page5{
        height: 100%;
        width: 100%;
        background-image: url('./images/back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 50px;
        overflow: hidden;
    }
       .page5 .support{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       }
       .page5 .contact h1{
        margin-left: 3%;
        font-size: 40px;
        font-weight: 600;
        color: transparent;
        -webkit-text-stroke: 2px blue;
        text-shadow: 3px  5px 5px #000;
       }
       .contact-form{
        height: 400px;
        width: 400px;
        border-radius: 10%;
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-right: 5%;
        border: 5px double #000;
        margin-bottom: 50px;
       }
    
}